$color-grey: #f5f5f5;
$color-dark-grey: #ebebeb;
$color-black: #000000;
$color-white: #ffffff;
$color-pink: #ee26c2;
$color-blue: #2676ee;
$border-radius: 20px;
$color-text-dark-grey: #525252;
$color-scroll: #b5b5b5;

$media-sm: 375px;
$media-sm2: 568px;
$media-md: 768px;
$media-lg: 1440px;
